body{
    background-image:linear-gradient(to right,  #002E7B, #228CBD) ;
    overflow-x: hidden;
}
#head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 50px;
}

h1{
    text-align: center;
    color: yellow;
}

p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    
}

a{
    text-decoration: none;
    font-size: 20px;
}


#voltar{
    margin-left: 15px;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    float: left;
    border-radius: 6px;
    color: #ff6600;
}   

.nav{
    margin: auto;
    padding: 150px;
    width: 850px;
}


.org{
    background-color: rgb(32, 32, 30);
    box-shadow: 10px 7px 7px rgb(241, 241, 241);
    padding: 30px;
    border-radius: 10px;
}

#jn{
    text-decoration: none;
    color: white;
}

/*responsive*/
@media (max-width: 290px) {
    .body{
        overflow-x: hidden;
    }
    
    .nav{
        margin: auto;
        padding: 150px;
        margin: 10px 0px 0px 0px;
    }
    

    .org{
        border-radius: 10px;
        width: 250px;
        padding: 15px;
        float: left;
        margin: 10px 0px 0px 0px;
        box-shadow: 0px 0px 0px rgb(241, 241, 241);
    }

    

}